%p
  Hello #{@content[:user]},
%p
  You are currently collecting data by running the FMS app. The next step in the participation process is to log in to our site #{link_to "here", "https://www.fmsurvey.sg"} and go to the Activity Diary, where you’ll see a map and information about your daily activities. Here, we’ll ask you to fill in the diary by telling us a bit more about what you did at each place and how you got there. To qualify for the thank you gift, you are required to collected data for 14 days and filled out the Activity Diary for 5 of them.
%p Please note that you have to complete the survey to qualify for the gift.
%p We strongly encourage you to schedule a brief tutorial session with one of our assistants to better understand how to validate your data in the activity diary the first time. With your permission, our assistant will be able to see your browser in order to guide you through the process. You can schedule this session by logging in and clicking on the orange "Need Help?" button on the left of our webpage.
%p If you have any questions, comments or concerns, please don’t hesitate to email us at fmsurvey@smart.mit.edu or call 9124 9322
%p Thank you for your participation!
%p Best regards,
%p
  Future Urban Mobility Group
  %br/
  Singapore-MIT Alliance for Research and Technology
