%p
  Hello #{@content[:user]},
%p Thank you for registering with the Future Mobility Survey (FMS)!
%p As the deadline for completing the survey is September 30th, which requires at least 14 days of data collection, you won't be able to qualify for the incentive vouchers.
%p If you are still interested in testing out our app, you are very welcome. To do so, please follow the instructions below.
%p Now that you have downloaded and installed the app on your smartphone, please help us collect data by signing in to the app and leaving it running in the background while you go about your daily activities.
%p
  Once you are running the app, please log in periodically to our site #{link_to "here", "https://www.fmsurvey.sg"}  to tell us more about your daily activities. We strongly encourage you to schedule a brief tutorial session with one of our assistants to better understand how to validate your data in the activity diary the first time. With your permission, our assistant will be able to see your browser in order to guide you through the process. You can schedule this session by logging in and clicking on the orange "Need Help?" button on the left of our webpage.
%p
  If you have any questions or comments, please contact us at +65 9124 9322 / fmsurvey@smart.mit.edu or check out our #{link_to "FAQs", "https://www.fmsurvey.sg/pages/faqs"}.
%p Thank you again for your participation! Your help is greatly valued.
%p Best regards,
%p
  Future Urban Mobility Group
  %br/
  Singapore-MIT Alliance for Research and Technology
