.grid_12.form_user
  = study_title
  %h2.title_1 Create your account
  .h2_small Help us in our research by registering in the project.
  = form_for @user, :html => {:class=> 'register_form'}, url: create_user_url do |form|
    %div
      = study_field
      .form-group
        %label.hide{:for => "fullName"} Name
        %input#fullName.form-control{:name => "user[name]", :placeholder => "#{I18n.t('newuser.name')}", :type => "text", :value => "#{@user.name}"}/
        - if @user.errors[:name]
          %span.error= @user.errors[:name].join("; ")
      .form-group
        %label.hide{:for => "emailAddress"} Email
        %input#emailAddress.form-control{:name => "user[email]", :placeholder => "#{I18n.t('newuser.email')}", :type => "email", :value => "#{@user.email}"}/
        - if @user.errors[:email]
          %span.error= @user.errors[:email].join("; ")
        %p.help-block.error Warning: email is needed for password reset!
      .form-group
        %label.hide{:for => "username"} Username
        %input#username.form-control{:name => "user[username]", :placeholder => "Username", :type => "text", :value => "#{@user.username}"}/
        - if @user.errors[:username]
          %span.error= @user.errors[:username].join("; ")
      .form-group
        %label.hide{:for => "inputPassword"} Password
        %input#inputPassword.form-control{:name => "user[password]", :placeholder => "#{I18n.t('newuser.passwd')}", :type => "password"}/
        - if @user.errors[:password]
          %span.error= @user.errors[:password].join("; ")
      .form-group
        %label.hide{:for => "confirmPassword"} Confirm 
        %input#confirmPassword.form-control{:name => "user[password_confirmation]", :placeholder => "#{I18n.t('newuser.passwd_confirm')}", :type => "password"}/
        - if @user.errors[:password_confirmation]
          %span.error= @user.errors[:password_confirmation].join("; ")
      .form-group
        %label{:for => "user_time_zone"} Choose your time zone:
        = form.time_zone_select(:time_zone, ActiveSupport::TimeZone.all, {:default => session[:time_zone], prompt: "Please select your timezone:"})
        - if @user.errors[:time_zone]
          %span.error= @user.errors[:time_zone].join("; ")
      .form-group
        %label.hide{:for => "register_button"}  
        %input.bigbutton{:name => "register_submit", :type => "submit", :value => "Create account"}/
:javascript
  jQuery(document).ready(function(){
  
  if(!Modernizr.input.placeholder){
  
  	jQuery('.form_user label').each(function(idx,obj){
  		elm = jQuery(obj)
  		elm.show();
  		elm.removeClass('hide');
  	})
  
  }
  
  });
