.row{:style => "margin-top: 10px;"}
  .col-md-12
    %h3 STEP 1
    %table.table
      %tr
        %th Registered
        %th Completed
        %th Age Groups
        %th Gender
        %th Driving Licences
        %th Car Sharing
        %th Education Levels
      %tr
        %td 300
        %td 250
        %td
          %table.stats{:style => "padding: 10px;"}
            %tr
              %td
                %b 18-30
              %td 120
            %tr
              %td
                %b 31-45
              %td 80
            %tr
              %td
                %b 46-60
              %td 30
            %tr
              %td
                %b 61+
              %td 20
        %td
          %table.stats{:style => "padding: 10px;"}
            %tr
              %td
                %b Male
              %td 100
            %tr
              %td
                %b Female
              %td 150
        %td
          %table.stats{:style => "padding: 10px;"}
            %tr
              %td
                %b Car
              %td 80
            %tr
              %td
                %b Motorcycle
              %td 40
        %td
          %table.stats{:style => "padding: 10px;"}
            %tr
              %td
                %b Yes
              %td 80
            %tr
              %td
                %b No
              %td 170
        %td
          %table.stats{:style => "padding: 10px;"}
            %tr
              %td
                %b Less than high school
              %td 61
            %tr
              %td
                %b High School or Diploma
              %td 69
            %tr
              %td
                %b Bachelor's
              %td 32
            %tr
              %td
                %b Master's
              %td 18
            %tr
              %td
                %b Doctoral
              %td 17
            %tr
              %td
                %b Other
              %td 53
.stripes{:style => "margin-top: 10px;"}
.row{:style => "margin-top: 10px;"}
  .item.col-md-12
    %p.section_title Participants Location
    = image_tag "umove/manchester_map.png"
:css
  table.stats td {
    padding: 5px;
  }

  .section_title {
    font-size: 20px;
  }
