.block * {
  font-family: Helvetica;
  font-size: 16px;
}

.block label {
  font-weight: normal;
}

#sp-info p {
  padding: 10px;
}

#sp-info .formatted p {
  padding: 0
}

hr {
  border-width: 2px;
  border-color: #A01517;
  margin-bottom: 50px;
}

.pull-bottom {
  margin-top: 10px;
}

label.rt-label {
  font-weight: bold;
  margin-top: 50px;
}

hr {
  border-width: 2px;
  border-color: #A01517;
  width: 100%;
}

.responses-table {
  th {
    font-weight: normal;
    text-align: center;
    font-size: 16px;
  }

  td:first-child {
    text-align: left;
  }

  td {
    text-align: center;
  }
}

p.heading {
  font-weight: bold;
  margin-top: 50px;
}

.img-container {
  text-align: center;
  margin-bottom: 24px;
  img {
    width: 50%;
  }
}

.question-subtitle {
  * {
    font-size: 13px;
    font-weight: normal;
  }

  p, ol {
    margin-top: 0;
    margin-bottom: 0;
    padding-bottom: 0 !important;
  }
}

#sp-info .thankyou p {
  padding: 0;
}
